@import "reset";
@import "theme";


@keyframes TextAni{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}


.wrap-all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;


  .play-time-wrap{
    margin-top: 2rem;
    padding: 4px 20px;
    background-color: #222;
    border-radius: .375rem;
    
    .play-time{
      font-size: 3rem;
      width: 200px;    
      color: var(--white);
    }    
  }

  
  .image-container{
    width: 402px;
    height: 402px;
    background-color: #222;
    margin-top: 1rem;
    border: 1px solid var(--facebook);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & > li{
      width: 100px;
      height: 100px;
      padding: .25rem;
      color: var(--white);
      border: 1px solid #ffffff6b;
    }
  }

  .start-button{
    background-color: var(--facebook);
    color: var(--white);
    padding: .625rem 24px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin-bottom: .625rem;
  }

  .game-text{
    position: absolute;
    font-size: 3rem;
    color:royalblue;
    text-shadow: 10px 10px 10px #222;
    text-transform: capitalize;
    text-shadow: 1px 1px rgaba(0,0,0,0.3);
    display: none;
  }

  .explain{
    margin-bottom: 1rem;
    background-color: #eeeeee7a;
    padding: 1rem;
    border-radius: .25rem;
  }

  .start-guide-message{
    transition: opacity .4s ease-in-out;
    margin-bottom: .875rem;
    color: royalblue;
    font-size: 20;
    font-weight: 600;
    animation: TextAni .8s infinite linear alternate;

  }

  .cheat-button{
    width: 100px;
    height: 40px;
    display: none;
    background: #000;
    color: var(--white);
    border-radius: .5rem;
    cursor: pointer;
}

}