@import "reset";
@import "theme";

.wrap-all{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;


  .play-time-wrap{
    margin-top: 2rem;
    padding: 4px 20px;
    background-color: #222;
    border-radius: .375rem;
    
    .play-time{
      font-size: 3rem;
      width: 200px;    
      color: var(--white);
    }    
  }

  
  .image-container{
    width: 402px;
    height: 402px;
    background-color: #222;
    margin-top: 1rem;
    border: 1px solid var(--facebook);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & > li{
      width: 100px;
      height: 100px;
      color: var(--white);
      border: 1px solid #ffffff6b;
    }
  }

  .start-button{
    background-color: var(--facebook);
    color: var(--white);
    padding: .625rem 24px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.2rem;
    margin-bottom: .625rem;
  }

  .game-text{
    position: absolute;
    font-size: 3rem;
    color: var(--green);
    text-transform: capitalize;
    text-shadow: 1px 1px rgaba(0,0,0,0.3);
    display: none;
  }

  .explain{
    margin-bottom: 1rem;
    background-color: #eeeeee7a;
    padding: 1rem;
    border-radius: .25rem;
  }

  .cheat-button{
    width: 100px;
    height: 40px;
    display: none;
    background: #000;
    color: var(--white);
    border-radius: .5rem;
    cursor: pointer;
}

}